@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
  font-family: 'Raleway', sans-serif;
}
#ErrorName {
    display: none; 
  }
  #spinner{
    display: none;
  }
 
header {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
text-align: center;
color: white;
background: url(/picture/phone.jpg) no-repeat center; 
background-size: cover; 
}
::placeholder{
color: rgb(153, 149, 149) !important;
}